<header class="portada text-center text-white d-flex align-items-center" style="background: url('assets/foto.webp') no-repeat center center; background-size: cover; height: 60vh;">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <div class="container">
        <h1 class="h1-inicio">Bienvenidos a Mercy Developer</h1>
        <p class="p-sub">Especialistas en servicio técnico informático</p>
    </div>
</header>

<section id="especialidades" class="py-5">
    <div class="container text-center">
        <h2 class="mb-4">Nuestros Servicios</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Instalación de Sistemas Operativos</h3>
                        <p class="card-text">Instalamos sistemas operativos como Windows, Linux, y MacOS para asegurar el mejor rendimiento de tu equipo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Instalación de Software de Oficina</h3>
                        <p class="card-text">Ofrecemos instalación de software esencial como Microsoft Office, Adobe Acrobat, y herramientas especializadas para empresas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Reparación de Computadoras</h3>
                        <p class="card-text">Realizamos diagnósticos y reparaciones de hardware y software para mantener tus equipos funcionando como nuevos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>